predict/annotations/
predict/output_inference_graph/
resources/
box
box2
boxes
cats
classes
img.jpg
img2.jpg
img3.jpeg
img3.jpg
img4.jpeg
img4.jpg
imgx.jpeg
imgx.jpg
num
scores
mysite/__pycache__/
predict/__pycache__/

